:root{
--color-prinary-soft-orange: hsl(35, 77%, 62%);
--color-prinary-soft-red: hsl(5, 85%, 63%);
--color-neutral-off-white: hsl(36, 100%, 99%);
--color-neutral-grayish-blue: hsl(233, 8%, 79%);
--color-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
--color-neutral-very-dark-blue: hsl(240, 100%, 5%);
}



html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

/*typography*/
h1{
    font-weight: 800;
    font-size: 5rem;
    margin: 2rem 0;
}

p{
    font-size: 1.5rem;
    color: var(--color-neutral-dark-grayish-blue);
    line-height: 2.5rem;
}

body{
display: grid;
justify-content: center;
align-items: center;
}

.container{
    display: grid;
    padding: 1rem;
    max-width: 375px;
    
}


.list{
    
    list-style: none;
    padding-left: 0;
}

/* Collapsibles */

.collapsible__header{
    display: flex;
    justify-content: left;
    font-size: 3rem;
}

.collapsible__heading{
    margin-top: 0;
}

.collapsible__chevron{
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}   

.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
} 

@media screen and (min-width:768px) {
    .collapsible__header{
        justify-content: left;
    }
}



/* Navigation Bar */
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}

.nav__list{
    width: 100%;
    margin: 0;
    max-height: 100%;
    opacity: 1;
}

.nav__item{
    padding: 0.5rem 2rem;
    border-bottom: 0.5rem;
}

.nav__item > a {
    color: var(--color-neutral-very-dark-blue);
    transition: color 0.3s;
}

.nav__item > a:hover {

    color: var(--color-neutral-grayish-blue)
}

.nav__toggler{
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.nav .collapsible--expanded .nav__toggler{
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

.nav__brand{
    transform: translateY(5px);
}

/*.logo{
    float: left;
    margin: 1rem 0.5rem 0 0;
    width: 60px;
   
}

.nav-menu{
    float: right;
    margin: 2rem 0.5rem 0 0;
}*/

.spotlight{
    max-width: 100%;
}

.btn{
height: 50px;
padding: 0 4rem;
border: 0;
letter-spacing: 0.5rem;
font-weight: 700;
margin: 0 0 7rem 0;
}

.btn__primary{
    background: var(--color-prinary-soft-red);   
    color: var(--color-neutral-off-white);
}

.btn__primary:hover{
    background: var(--color-neutral-very-dark-blue);
}


/* Highlights */
.highlights{
    max-width: 360px;
    background: var(--color-neutral-very-dark-blue);
    padding: 2rem;
    margin-bottom: 4rem;
}

.highlights-header{
    color: var(--color-prinary-soft-orange);
}

.highlights-card{
margin: 5rem 0 0 0;
color: var(--color-neutral-off-white);
font-weight: 900;
font-size: 2.2rem;
}

.highlights-card:hover{
    color: var(--color-prinary-soft-orange);
}

.highlights-card--text{
    font-size: 1.7rem;
 
}

.line{
    margin-top: 4rem;
}

.special{
    display: flex;margin: 1rem;
}
.special-image{
    max-width:130px;
    max-height: 140px;
}

.special-content{
margin-left: 2.5rem;
}

.special-number{
    color: var(--color-neutral-grayish-blue);
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.special-heading{
    color: var(--color-neutral-very-dark-blue);
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.special-heading:hover{
    color: var(--color-prinary-soft-red);
}